.page {
    padding: 50px;
    background-color: rgb(243, 229, 252);
    color: rgb(245, 183, 173);
    justify-content: center;
    align-items: center;

    &__favs {
        text-align: right;
    }
    &__shows {
    display: flex;
    flex-direction: row;
    }

    &__title {
    font-family: 'Amatic SC', cursive;
    color: darkslategray;
    margin-bottom: 5px;
    }
}

.input {
    border-style: none;
    background-color: rgb(133, 179, 169);
    color: black;
    margin-bottom: 20px;

    &__btn {
    border-style: none;
    background: none;
    color:  rgb(133, 179, 169);
    }
}

.shows {
    
    &__item { 
    background: crimson;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    width: 250px;
    padding: 5px;
    }
    &__photo {
        margin-bottom: 10px; 
    }

    &__name {
    font-style: normal;
    }
}


.shows__item--favorite {
    background: mediumspringgreen;
}

.shows__item--favorite .shows__name {
    font-style: italic;
}
  
.shows__item--hidden {
    display: none;
}