<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Evaluación final Alejandra Reyes</title>
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700|Patrick+Hand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body class="page">
  <h1 class="page__title">Buscador de series</h1>
  <input type="text" class="input js-input" id="name" />
  <button class="input__btn js-btn" type="submit">Buscar</button>
  <div class="page__shows">

    <div class="js-shows-container show-list"></div>

  </div>
  <h2 class="page__favs ">Series Favs</h2>
  <div class="js-favshows-container fav-list"></div>
  <script src="./assets/js/main.js"></script>
</body>

</html>